# for 반복구조

In [1]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [2]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

* 'Hello' 10번 출력하기     
특정 횟수만큼 반복하려면 range(횟수)의 형태를 사용한다.

In [4]:
for i in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

# 중첩반복구조
* 내부 for문을 외부 for문의 시퀀스만큼 반복한다.
* 내부루프와 외부루프는 동일한 제어변수를 사용해서는 안된다.

In [6]:
for i in range(3):
    for j in range(4):
        print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

* 2단부터 9단까지 전체 구구단 출력하기

In [11]:
for i in range (2,10):
    for j in range(1,10):
        print(f'{i}*{j} = {i*j}',end = "     ")
    print()

2*1 = 2     2*2 = 4     2*3 = 6     2*4 = 8     2*5 = 10     2*6 = 12     2*7 = 14     2*8 = 16     2*9 = 18
3*1 = 3     3*2 = 6     3*3 = 9     3*4 = 12     3*5 = 15     3*6 = 18     3*7 = 21     3*8 = 24     3*9 = 27
4*1 = 4     4*2 = 8     4*3 = 12     4*4 = 16     4*5 = 20     4*6 = 24     4*7 = 28     4*8 = 32     4*9 = 36
5*1 = 5     5*2 = 10     5*3 = 15     5*4 = 20     5*5 = 25     5*6 = 30     5*7 = 35     5*8 = 40     5*9 = 45
6*1 = 6     6*2 = 12     6*3 = 18     6*4 = 24     6*5 = 30     6*6 = 36     6*7 = 42     6*8 = 48     6*9 = 54
7*1 = 7     7*2 = 14     7*3 = 21     7*4 = 28     7*5 = 35     7*6 = 42     7*7 = 49     7*8 = 56     7*9 = 63
8*1 = 8     8*2 = 16     8*3 = 24     8*4 = 32     8*5 = 40     8*6 = 48     8*7 = 56     8*8 = 64     8*9 = 72
9*1 = 9     9*2 = 18     9*3 = 27     9*4 = 36     9*5 = 45     9*6 = 54     9*7 = 63     9*8 = 72     9*9 = 81

In [13]:
for i in range (1,10):
    for j in range(2,10):
        print(f'{j}*{i} = {j*i}',end = "    ")
    print()

2*1 = 2    3*1 = 3    4*1 = 4    5*1 = 5    6*1 = 6    7*1 = 7    8*1 = 8    9*1 = 9
2*2 = 4    3*2 = 6    4*2 = 8    5*2 = 10    6*2 = 12    7*2 = 14    8*2 = 16    9*2 = 18
2*3 = 6    3*3 = 9    4*3 = 12    5*3 = 15    6*3 = 18    7*3 = 21    8*3 = 24    9*3 = 27
2*4 = 8    3*4 = 12    4*4 = 16    5*4 = 20    6*4 = 24    7*4 = 28    8*4 = 32    9*4 = 36
2*5 = 10    3*5 = 15    4*5 = 20    5*5 = 25    6*5 = 30    7*5 = 35    8*5 = 40    9*5 = 45
2*6 = 12    3*6 = 18    4*6 = 24    5*6 = 30    6*6 = 36    7*6 = 42    8*6 = 48    9*6 = 54
2*7 = 14    3*7 = 21    4*7 = 28    5*7 = 35    6*7 = 42    7*7 = 49    8*7 = 56    9*7 = 63
2*8 = 16    3*8 = 24    4*8 = 32    5*8 = 40    6*8 = 48    7*8 = 56    8*8 = 64    9*8 = 72
2*9 = 18    3*9 = 27    4*9 = 36    5*9 = 45    6*9 = 54    7*9 = 63    8*9 = 72    9*9 = 81

# 연습문제

* 1부터 10까지 정수의 합 구하여 출력하기

In [16]:
total=0
for i in range (1,11):
    total+=i
print(total)

20

* 1부터 100까지 홀수의 합 구하여 출력하기

In [20]:
total=0
for i in range(1,101):
    if(i%2==1):
        total+=i
print(total)

2500