# 리스트, 튜플 만들기

## 리스트 만들기

In [3]:
# []를 사용하여 빈 리스트 만들기
ls=[]
ls

[]

In [5]:
# list() 함수를 사용하여 빈 리스트 만들기
ls=list()
ls

[]

In [7]:
# []를 사용하여 초기값이 있는 리스트 만들기
ls=[1,3,4]
ls

[1, 3, 4]

In [11]:
# list() 함수를 사용하여 초기값이 있는 리스트 만들기(규칙이 있는 정수값의 나열)
ls=list(range(1,100,2))
ls

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

## 튜플 만들기

In [13]:
# ( )를 사용하여 빈 튜플 만들기
t=()
t

()

In [15]:
# tuple() 함수를 사용하여 빈 튜플 만들기
t=tuple()
t

()

In [17]:
# ( )에 초기값 지정하여 튜플 만들기
t=(1,2,3)
t

(1, 2, 3)

In [19]:
# tuple() 함수를 사용하여 초기값이 있는 튜플 만들기(규칙이 있는 정수값의 나열)
t=tuple(range(1,101,2))
t

(1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99)

In [20]:
# 튜플을 만들 때 괄호()를 생략할 수 있다.
t=1,2,3
t

(1, 2, 3)

In [22]:
# 항목이 1개일 때는 ,를 붙인다.
t=(1,)
t

(1,)

# 리스트, 튜플의 자료형
* 모든 자료형이 혼합되어 들어갈 수 있다.

In [23]:
mylist=['any',20,150,["독서","코딩"]]
mylist

['any', 20, 150, ['독서', '코딩']]

In [24]:
mytuple=('ny',15,20,("일","학교"))
mytuple

('ny', 15, 20, ('일', '학교'))

# 리스트, 튜플 연결하기

In [25]:
l1 = ['사과','딸기','포도']
l2 = ['포도','수박']
l1+l2

['사과', '딸기', '포도', '포도', '수박']

In [26]:
t1 = ('빨','주')
t2 = ('노','초','파','남','보')
t1+t2

('빨', '주', '노', '초', '파', '남', '보')

# 리스트, 튜플 반복하기

In [27]:
l = ['먹고','자고']
l*2

['먹고', '자고', '먹고', '자고']

In [28]:
t = ('놀고','먹고','자고')
t*3

('놀고', '먹고', '자고', '놀고', '먹고', '자고', '놀고', '먹고', '자고')

# 리스트, 튜플에 값 존재여부 확인
* 멤버연산자 : in, not in

In [33]:
ls=[1,2,5,7]
print(5 in ls)
print(3 in ls)
print(1 not in ls)

True
False
False

In [35]:
t=(1,2,3,5)
print(5 in t)

True

# 리스트, 튜플 항목의 갯수 구하기
* len(리스트명)
* len(튜플명)

In [39]:
l = [1,3,2,4,3,5,7,8,77.7,88.8,'a','b','c',[10,20,30]]
len(l)

14

In [40]:
t = ((1,2),[3,4])
len(t)

2